body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

h2 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.item-list {
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    background-color: #f9f9f9;
}

input[type="number"] {
    padding: 5px;
    width: 80px;
    margin: 5px 0;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.logout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
}

.logout-btn:hover {
    background-color: #e53935;
}

.alert {
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

.alert.success {
    background-color: #4CAF50;
}


/* Floating chat button */
.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 24px;
    z-index: 9999; /* Ensure the button is on top */
  }
  
  /* Chat window */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    border: 1px solid #007bff;
    border-radius: 10px;
    background-color: white;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999; /* Ensure the chat window is on top */
  }
  
  /* Chat window header */
  .chat-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
/* Chat body */
.chat-body {
    padding: 10px;
    height: 200px;
    overflow-y: auto;
    background-color: #000;
  }
  
  /* Chat footer */
  .chat-footer {
    padding: 10px;
    display: flex;
  }
  
  .chat-footer input {
    flex-grow: 1;
    padding: 5px;
  }
  
  .chat-footer button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* Close button */
  .close {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }